<ul class="nav navbar-nav">
    {% for element, link in menu %}  
        <li class="{%if loop.first %}active {% endif %} {%if link is iterable %}dropdown{% endif %}">
            <a {%if link is iterable %}href="#" class="dropdown-toggle" data-toggle="dropdown" {% else %}href="{{ link }}"{% endif %}>
                {{ element }}
                {%if link is iterable %}
                    <i class="fa fa-angle-down"></i>
                    <ul class="dropdown-menu">
                    {% for element2, link2 in link %}  
                        <li><a href="{{ link2 }}">{{ element2 }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </a>
        </li>
    {% endfor %} 
</ul>